#container {
  background-color: #ddd;
  position: relative;
}

.tile {
  border: 1px solid #3f51b51f;
  position: absolute;
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.tile:hover {
  border: 1px solid #d50000;
}

.tile-0 {
  background-color: #ddd;
}

.tile-1 {
  background-color: #3f51b5;
}

.tile-s {
  background-color: #2e7d32;
}

.tile-f {
  background-color: #b71c1c;
}

.toolbar {
  margin-bottom: 10px;
}
.mazify-editor .btn {
  border: none;
  color: #fff;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 4px;
  border-radius: 0;
}

.mazify-editor .btn-blue {
  background-color: #2196f3;
}
.mazify-editor .btn-blue:hover {
  background-color: #42a5f5;
}

.mazify-editor .btn-teal {
  background-color: #009688;
}
.mazify-editor .btn-teal:hover {
  background-color: #80cbc4;
}

.mazify-editor .btn-active {
  outline: 2px solid #ff0000 !important;
}

.mazify-editor .btn:focus {
  outline: none;
}
