<!DOCTYPE html>
<html>
  <head>
    <title>Mazify 3D | Editor</title>
    <meta name="description" content="Mazify 3D Editor" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/editor.css" />
  </head>

  <body>
    <div id="app">
      <div class="toolbar mazify-editor">
        <button
          v-for="tool in tools"
          type="button"
          :class="['btn', 'btn-blue',tool.type==selectedType?'btn-active':'' ]"
          @click="selectedType=tool.type"
        >
          {{tool.label}}
        </button>
        <button class="btn btn-teal" @click="clear">Clear</button>
        <button class="btn btn-teal" @click="level1">Level 1</button>
        <button class="btn btn-teal" @click="level2">Level 2</button>
        <button class="btn btn-teal" @click="levelRand">Level Random</button>
        <button class="btn btn-teal" @click="save">Save</button>
        <button class="btn btn-teal" @click="gotoMaze">Go to Maze</button>
      </div>
      <div id="container">
        <div
          v-for="block in mazeData"
          :id="block.id"
          :key="block.id"
          :class="['tile', 'tile-'+block.type]"
          v-bind:style="{top: block.top+'px', left: block.left+'px'}"
          @mousemove="changeTile"
          @click="changeTile"
        ></div>
      </div>
    </div>
  </body>
  <script src="js/editor.js" type="module"></script>
</html>
